.boxes h1 {
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #fff;
}

.boxes h2 {
	-webkit-text-stroke-width: 0.4px;
	-webkit-text-stroke-color: #fff;
}

.coop {
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
}

#evertz .text {
	position: relative;
	bottom: 30px;
	left:0px;
	visibility:hidden;
}

#evertz:hover .text {
	visibility:visible;
	color: red;
}